body {
    background-color: lightgray;
  }

  h1 {
    color: navy; 
    font-size: 40px;
  }
  
  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }
  
  h4 {
    font-size: 15px;
  }
  
  p {
    font-size: 12px;
  }